<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% # Inlined CSS Variables %}
    {% render 'css-variables' %}

    {% # Load and preload the critical CSS %}
    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}

    {{ 'application.css' | asset_url | stylesheet_tag }}

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>

    {{ content_for_header }}
  </head>

  <body>
    {% sections 'header-group' %}

    {{ content_for_layout }}
    <cart-notification section-id="cart-notification" class="fixed top-2 right-2 z-50 transition duration-300 ease-in-out hidden opacity-0 translate-y-4"></cart-notification>
    {% sections 'footer-group' %}
    <script src="{{ 'cart-icon.js' | asset_url }}" defer></script>
    <script src="{{ 'cart-notification.js' | asset_url }}" defer></script>
    <script src="{{ 'product-form.js' | asset_url }}" defer></script>
    {% comment %} <script src="{{ 'cart-script.js' | asset_url }}" defer></script> {% endcomment %}
  </body>
</html>
