<script src="{{ 'cart.js' | asset_url }}" defer></script>

<cart-page section-id="{{ section.id }}">
  <div class="max-w-5xl mx-auto px-4 py-8 space-y-6">
    <h1 class="text-2xl font-bold">Your Cart</h1>
    {% if cart.item_count > 0  %}
      <form action="{{ routes.cart_url }}" method="post" class="space-y-6">
        {% for item in cart.items %}
          <div class="flex flex-row justify-between items-center sm:items-center border p-4 rounded shadow-sm gap-5" data-item-key="{{ item.key }}">
            <div class="flex gap-4 items-center">
              <a href="{{ item.url }}" class="block">
                <img width="100%" height="100%" src="{{ item.image | image_url: width: 100 }}" alt="{{ item.product.title }}" class="w-16 h-24 rounded object-cover">
              </a>
              <div class="w-[300px]">
                <a href="{{ item.url }}" class="font-medium text-lg text-gray-900 hover:underline block">
                  {{ item.product.title }}
                </a>
                {% unless item.variant.title == 'Default Title' %}
                  <p class="text-sm text-gray-500 mt-1">{{ item.variant.title }}</p>
                {% endunless %}
                <button type="button" class="remove-btn text-red-600 text-xs mt-2 underline" data-item-key="{{ item.key }}" data-action="remove">
                  Remove
                </button>
              </div>
            </div>

            <div class="flex mt-4 sm:mt-0 items-center gap-10">
              <div class="flex items-center gap-2">
                <button type="button" class="qty-btn px-2 py-1 text-gray-700 border rounded h-10 hover:bg-gray-900 hover:text-white" data-action="minus">−</button>
                <input
                  type="number"
                  name="updates[]"
                  value="{{ item.quantity }}"
                  min="0"
                  class="block qty-input text-center border rounded h-10 w-24 apperance-none"
                  data-variant-id="{{ item.variant_id }}"
                />
                <button type="button" class="qty-btn px-2 py-1 text-gray-700 border rounded h-10 hover:bg-gray-900 hover:text-white" data-action="plus">+</button>
              </div>
              <div class="line-item-price text-md text-gray-800 font-semibold min-w-[80px] text-right">
                {{ item.final_line_price | money }}
              </div>
            </div>
          </div>
        {% endfor %}

        <!-- Total Price Section -->
        <div class="flex justify-between items-center">
          <p class="text-lg font-semibold">Total:</p>
          <div class="flex items-center gap-6">
            <button type="button" class="clear-cart-btn text-red-600 text-sm underline" data-action="clear">
              Clear Cart
            </button>
            <p class="cart-total-price text-lg font-bold text-gray-900">{{ cart.total_price | money }}</p>
          </div>
        </div>

        <div class="flex justify-end">
          <a href="/checkout" class="inline-block bg-black hover:bg-gray-900 text-white text-sm font-semibold py-2 px-4 rounded">
            Proceed to Checkout
          </a>
        </div>
      </form>
    {% else %}
      <p>Empty Cart</p>
    {% endif %}
  </div>
</cart-page>


{% schema %}
{
  "name": "t:general.cart",
  "settings": []
}
{% endschema %}
