<section class="collection-grid-section px-4 py-10 max-w-8xl mx-auto">
  <h1 class="text-2xl font-bold text-center mb-8">{{ section.settings.title }}</h1>
  <div class="collections grid sm:grid-cols-3 lg:grid-cols-4 {{ section.settings.grid_item_width }}" style="--grid-gap: {{ section.settings.grid_gap }}px" >
    {% for collection in collections %}
      <div class="bg-white rounded-lg shadow product-item overflow-hidden">
        <a class="collection-card block relative" href="{{ collection.url }}">
          {% if collection.featured_image %}
            <img style="height: 300px !important;" width="100%" height="100%" src="{{ collection.featured_image | image_url: width: 600 }}" alt="{{ collection.title | escape }}" class="w-full object-cover object-bottom group-hover:scale-105 transition-transform duration-300 h-[300px]">
          {% endif %}
          <div class="overlay absolute inset-0 bg-gray-900 opacity-40 transition-all ease-in-out duration-600"></div>
          <h3 class="text-[18px] text-white font-semibold mb-2 absolute top-[50%] left-[50%] translate-x-[-50%]  transition-all ease-in-out duration-600 whitespace-nowrap">{{ collection.title }}</h3>
        </a>
      </div>
    {% endfor %}
  </div>
</section>

{% stylesheet %}
  .collections {
    display: grid;
    gap: var(--grid-gap);
  }
  .collections--compact {
    --collection-card-size: 160px;
  }
  .collections--full {
    --collection-card-size: 280px;
  }
  .product-item {
    border-radius: 10px;
  }
  .product-item:hover h3 {
    font-size: 24px;
  }

  .product-item:hover .overlay {
    opacity: 100;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.collections_grid",
  "settings": [
     {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Shop by Category"
    },
    {
      "type": "select",
      "id": "grid_item_width",
      "label": "t:labels.grid_item_width",
      "options": [
        { "value": "collections--compact", "label": "t:options.size.small" },
        { "value": "collections--full", "label": "t:options.size.large" }
      ],
      "default": "collections--full"
    },
    {
      "type": "range",
      "id": "grid_gap",
      "label": "t:labels.grid_gap",
      "min": 0,
      "max": 50,
      "step": 5,
      "unit": "px",
      "default": 10
    }
  ],
  "presets": [{ "name": "t:general.collections_grid" }]
}
{% endschema %}

