<header>
  <div class="flex items-center justify-between bg-white px-4">
    {% if section.settings.logo %}
      <div class="header__logo">
        <a href="{{ routes.root_url }}">
          <img 
            width="100%" 
            height="100%"
            src="{{ section.settings.logo | image_url: width: 80, height: 80, crop: 'center' }}" 
            alt="{{ shop.name }}" 
            class="mx-auto w-20 h-20 rounded-full object-cover"
          >
       </a>
      </div>
    {% endif %}

    <div class="header__search">
      {%  render 'search-bar' %}
    </div>

    {% if section.settings.show_social %}
      <div class="header__social flex gap-5">
        {% render 'social-icons' %}
      </div>
    {% endif %}

    <div class="header__icons">
      <div class="flex items-center gap-4">
        <a href="{{ routes.cart_url }}" class="cart-link flex items-center" id="cart-icon-bubble">
          {% render 'icon-cart' %}
            {%- if cart != empty -%}
              <div class="cart-count-bubble">
                {%- if cart.item_count < 100 -%}
                  <span aria-hidden="true">{{ cart.item_count }}</span>
                {%- endif -%}
              </div>
            {%- endif -%}
        </a>

        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            {% render 'custom-button', 
              text: 'Account',
              style: 'primary',
              url: routes.account_url,
              rel: 'nofollow',
            %}
            {% render 'custom-button',
              text: 'Logout',
              url: routes.account_logout_url,
              style: 'secondary',
              rel: 'nofollow',
            %}
          {% else %}
            {% render 'custom-button', 
              text: 'Login', 
              url: routes.account_login_url,
              style: 'primary',
              rel: 'nofollow',
            %}
            {% render 'custom-button', 
              text: 'Register', 
              url: routes.account_register_url,
              style: 'secondary',
              rel: 'nofollow',
            %}
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>

  <div class="flex items-center justify-center bg-white py-[12px] border border-gray-200">
    <nav class="header__menu">
      {% for link in section.settings.menu.links %}
        <a href="{{ link.url }}" class="header__menu-item">
          {{ link.title }}
          {% if link.items.size > 0 %}
            <sup>{{ link.items.size }}</sup>
          {% endif %}
        </a>
      {% endfor %}
    </nav>
  </div>
</header>

{% stylesheet %}
  header a {
    position: relative;
    text-decoration: none;
    color: var(--color-foreground);
  }
  header a sup {
    position: absolute;
    left: 100%;
    overflow: hidden;
    max-width: var(--page-margin);
  }
  header svg {
    width: 2rem;
  }
  header .header__menu,
  header .header__icons {
    display: flex;
    gap: 1rem;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Header Logo"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "label": "Show Social Icons",
      "default": false
    }
  ]
}
{% endschema %}
